* {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans;
}

/* OUTER BOX STYLES */
.container {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 8%;
  transform: translateX(-50%);
  width: 260px;
}

/* DISPLAY STYLES */
.display {
  background: #576574;
  border: 1px solid black;
  color: #ecf0f1;
  height: 120px;
  text-align: right;
  word-wrap: break-word;
}

.answer-display {
  font-size: 1.75em;
  height: 35%;
}

.answer-show {
  color: inherit;
  font-style: normal;
}

.done-computing {
  color: #bdc3c7;
  font-style: italic;
}

.input-display {
  font-size: 1.25em;
  height: 65%;
}

.answer-display,
.input-display {
  padding: 10px;
}

/* BUTTONS STYLES */
button {
  background: none;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
  font-size: 1.3em;
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 300px;
  text-align: center;
}

.left {
    width: 75%;
}

.left > button {
  background: #b2bec3;
  float: left;
  height: 20%;
  transition: all .05s ease;
  width: 33.3%;
}

.right {
  width: 25%;
}

.right > button {
  background: #f0932b;
  border-right: 1px solid black;
  color: #ecf0f1;
  height: 20%;
  transition: all .05s ease;
  width: 100%;
}

.two-buttons {
  width: 66.67% !important;
}

/* BUTTON CLICK/PRESS EFFECTS */
.left-pressed {
  background: #95a5a6 !important;
  transform: scale(1);
}

.right-pressed {
  background: #e67e22 !important;
  transform: scale(1);
}
