/* TODO
  1. Improve display
  2. Improve UI
*/

* {
  box-sizing: border-box;
}

/* OUTER BOX STYLES */
.container {
  display: flex;
  flex-direction: column;
  width: 240px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

/* INNER BOXES STYLES */
button {
  background: none;
  border-color: black;
  border-style: solid;
  border-width: 0 0 1px 1px;
  font-size: 1.25em;
  outline: none;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 300px;
  text-align: center;
}

.display {
  height: 80px;
  border: 1px solid black;
  text-align: right;
}

.left {
    width: 75%;
}

.left > button {
  float: left;
  height: 20%;
  width: 33.3%;
}

.right {
  width: 25%;
}

.right > button {
  border-color: black;
  border-right: 1px;
  border-style: solid;
  height: 20%;
  width: 100%;
}

.two-buttons {
  width: 66.67% !important;
}
